<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <form method="POST" action="/register">
    <label for="email">Email: </label>
    <input typ="email" name="email" id="email" />
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" />
    <input type="submit" value="register">
  </form>
</body>

</html>